[submodule "lua-mode"]
	path = lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/m2ym/popup-el.git
[submodule "doxymacs"]
	path = doxymacs
	url = git://doxymacs.git.sourceforge.net/gitroot/doxymacs/doxymacs
